/* app.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  box-sizing: border-box;
  padding: 20px;
  background-color:lemonchiffon;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
  /* Spacing for labels */
  font-weight: bold;
  /* Bold labels for better visibility */
}

input[type="email"],
input[type="text"],
input[type="number"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin: 15px;
  transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #80bdff;
  /* Blue border on focus */
  outline: none;
  /* Remove default outline */
}

button {
  background-color: orange;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px auto;
}

button:hover {
  background-color:orangered;
}

p {
  margin-top: 20px;
  font-size: 16px;
  color: #28a745;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  /* Arrange items vertically */
  align-items: center;
  /* Center items horizontally */
}

.error {
  color: red;
  /* Red color for error messages */
}